@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.3/font/bootstrap-icons.css");

:root {
    --color-secondary: #fefefe;
    --color-bg: #000000;
}

*::-webkit-scrollbar {
    width: 2px;
}

*::-webkit-scrollbar-track {
    background: var(--color-bg);
}

*::-webkit-scrollbar-thumb {
    background-color: var(--color-secondary);
    border-radius: 16px;
}

body[data-theme='light'] {
    --color-secondary: #000000;
    --color-bg: #fbfcf8;
}

path {
    fill: var(--color-secondary);
}

body {
    background: var(--color-bg);
    color: var(--color-secondary);
    font-family: 'Roboto', sans-serif;
    transition: all 225ms ease-in-out;
    overflow-y: hidden !important;
}

/* header section*/

.img-header {
    max-width: 100ch;
}

/* modal section */

.modal-content {
    border: 0;
}

body[data-theme='dark'] .modal-content {
    background-color: var(--color-bg);
}

body[data-theme='dark'] .btn-close {
    filter: invert(1) grayscale(100%) brightness(200%);
}

body[data-theme='dark'] .btn {
    color: var(--color-secondary);
}

body[data-theme='dark'] .logo img {
    color: var(--color-secondary);
    filter: invert(1) grayscale(100%) brightness(200%);
}

.modal-backdrop {
    background-color: var(--color-bg)10;
    backdrop-filter: blur(50px);
    z-index: 1040;
}

.modal-backdrop.show {
    opacity: 1;
}

/* text */

.fs-sm {
    font-size: .9rem;
}

.text-muted {
    color: #cdcdcd !important;
}