@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css");
@font-face {
  font-family: "HighAlpine";
  src: url(./assets/fonts/HighAlpine.otf);
}

:root{
  --color-primary: #f8ff22ff;
  --color-primary-dark:#cfd41c;
  --color-secondary: hsl(0, 0%, 1%);
  --color-background:hsl(0, 0%, 98%);
  --color-text-dark: #292a06;
  --color-text-white:whitesmoke;
  --color-muted:hsl(11, 5%, 45%);
}

body {
  font-family: 'Poppins', sans-serif !important;
  color: var(--color-secondary);
}

/* -fonts and text- */

.font-alpine {
  font-family: 'HighAlpine';
}

.fs-sm {
  font-size: .9rem;
}

.text-yellow-dark {
  color:var(--color-primary-dark);
}

.text-yellow {
  color:var(--color-primary);
  text-decoration: none;
}

.text-dark {
  color: var(--color-secondary) !important;
  text-decoration: none;
}

.cover-title {
  font-size: 16vw;
}

.header-title {
  font-size: 12vw;
}

/* -backgrounds- */

.bg-yellow {
  background-color: var(--color-primary);
  color: var(--color-secondary);
}

.bg-dark {
  background-color: var(--color-secondary) !important;
}

/* -buttons- */

.btn-outline-dark:hover {
  background-color: var(--color-secondary) !important;
}

.btn-dark {
  background-color: var(--color-secondary) !important;
}

.btn-dark:hover {
  background-color: var(--color-primary-dark) !important;
}

.btn-yellow {
  background-color: var(--color-primary) !important;
}

.btn:hover, .btn:not(:hover) {
  outline: none;
  border: none;
  box-shadow: none;
}

button:hover, button:not(:hover), button:active, button:focus {
  outline: none;
  border: none;
  box-shadow: none;
}

.navbar-toggler:focus {
  outline: none !important;
  border: none !important;
  box-shadow: none !important;
}

/* -links, etc.- */

.active {
  font-weight: bolder !important;
}

/* -sections- */

.header-section {
  height: 30em;
}